{% extends "shop/base.html" %}
{% load static %}
{% block title %}Pay for order{% endblock %}
{% block content %}
<h1>Order summary</h1>
<table class="cart">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.items.all %}
    <tr class="row{% cycle "1" "2" %}">
    <td>
        <img src="{% if item.product.image %}{{ item.product.image.url }}
        {% else %}{% static "img/no_image.png" %}{% endif %}">
    </td>
    <td>{{ item.product.name }}</td>
    <td class="num">{{ item.price }} PLN</td>
    <td class="num">{{ item.quantity }}</td>
    <td class="num">{{ item.get_cost }} PLN</td>
    </tr>
    {% endfor %}
{% if order.coupon %}
    <tr class="subtotal">
        <td>Subtotal</td>
        <td colspan="3"></td>
        <td class="num">
            {{ order.get_total_cost_before_discount|floatformat:2 }} PLN
        </td>
    </tr>
    <tr>
        <td>
            coupon "{{ order.coupon.code }}"
            ({{ order.discount }}% discount)
        </td>
        <td colspan="3"></td>
        <td class="num neg">
            - {{ order.get_discount|floatformat:2 }} PLN
        </td>
    </tr>
    {% endif %}
    <tr class="total">
        <td>Total</td>
        <td colspan="3"></td>
        <td class="num">
            {{ order.get_total_cost|floatformat:2 }} PLN
        </td>
    </tr>
    </tbody>
</table>
<form action="{% url "payment:process" %}" method="post">
<input type="submit" value="Pay now">
{% csrf_token %}
</form>
{% endblock %}
